# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# SQLite databases
*.db
*.sqlite3

# Models
backend/models/*.pkl

# Logs
logs/
*.log
bat_out.txt
bat_err.txt

# OS Generated
.DS_Store
Thumbs.db
